/*  Icons
        <i class="fas fa-fire"></i>
        <i class="fas fa-truck"></i>
        <i class="fas fa-battery-full"></i>

        */
:root {
  --primary-color: #eee;
  --accent-color: #ddd;
  --buttonstatic-color: #f1c40e;
  --buttonhover-color: #ffa502;
  --FAicon-color: #ff8c00;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

/*  Media Query */

@media (max-width: 500px) {
  i.fas {
    display: none;
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: 10%;
  }
}

/*  NavBar */

body {
  background-color: #eeeeee;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: var(--primary-color);
}

#header-img {
  width: 300;
  height: 34px;
  margin-right: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}
.nav-link {
  text-decoration: none;
  list-style-type: none;
}
.nav-link li {
  display: inline-block;
  padding-left: 40px;
}

/*  Main Page */

.title-container {
  margin-top: 100px;
}

h1,
h4 {
  text-align: center;
}

h3 {
  padding: 20px;
  background-color: #dddddd;
  text-align: center;
}

p {
  padding: 20px;
  line-height: 1.2rem;
  text-align: center;
}

/*  Form */

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email {
  padding: 5px 30px;
  margin-bottom: 10px;
  width: 300px;
}

form #submit {
  background-color: #f1c40e;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

/*  Features */

.features {
  margin: 0;
}

.card {
  display: flex;
}

.icon {
  color: #ff8c00;
  font-size: 4rem;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 50px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 123px;
  margin-left: 10px;
}

i.fas {
  width: 100px;
}

.desc h2,
.desc p {
  text-align: justify;
  padding: 0;
}

/* How it works - Video  */

iframe {
  display: block;
  margin: 20px auto;
  padding-bottom: 20px;
}

/*  Product Section */

.products {
  display: flex;
  justify-content: space-around;
}

.product-box {
  margin: 10px;
  border: #000 solid 1px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.products h3 {
  text-transform: uppercase;
}
/*  Footer  */

footer {
  background-color: #ddd;
  text-align: right;
}

.footer-links li {
  display: inline-block;
  margin-top: 20px;
  padding: 0px 20px;
}
